<!-- Footer Start -->
<footer class="footer">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="/" class="logo-footer">
                                <img src="{{ 'assets/images/simefri_blanco.png' | theme }}" height="60" alt="">
                            </a>
                            <p class="mt-4">En Simefri te ofrecemos las mejores soluciones<br> de climatización y refrigeración industrial, para<br> así adaptarnos a las necesidades concretas<br> de cada empresa.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item mb-0"><a href="https://wa.me/34687926516" target="_blank" class="rounded"><i class="uil uil-whatsapp align-middle" title="whatsapp"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="mailto:hola@simefri.es" class="rounded"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                
                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Simefri</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Inicio</a></li>
                                <li><a href="/servicios" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Servicios</a></li>
                                <li><a href="/contacto" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contacto</a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Servicios</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/servicios/frio-comercial" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Frío Comercial</a></li>
                                <li><a href="/servicios/frio-industrial" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Frío Industrial</a></li>
                                <li><a href="/servicios/climatizacion" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Climatización</a></li>
                                <li><a href="/servicios/aerotermia" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Aerotermia</a></li>
                                <li><a href="/servicios/fotovoltaica" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Fotovoltaica</a></li>
                                <li><a href="/servicios/fontaneria" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Fontanería</a></li>
                            </ul>
                        </div><!--end col-->
                
                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Textos Legales</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/aviso-legal" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Aviso Legal</a></li>
                                <li><a href="/politica-privacidad" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Privacidad</a></li>
                                <li><a href="/politica-cookies" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Cookies</a></li>
                                <!-- <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Protección de Datos</a></li> -->
                            </ul>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30">
        <div class="container text-center">
            <img src="{{ 'assets/images/Finan-UE-cb.png' | theme }}" height="60" style="margin-right: 20px;">
            <img src="{{ 'assets/images/logo-gobierno-corto.png' | theme }}" height="60" style="margin-right: 20px;">
            <img src="{{ 'assets/images/Plan-recu-cb.png' | theme }}" height="60" style="margin-right: 20px;">
            <img src="{{ 'assets/images/kit-digital-cb.png' | theme }}"height="60">
        </div>
    </div>

    <div class="footer-py-30">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="text-sm-start">
                        <p class="mb-0" style="text-align: center;">© <script>document.write(new Date().getFullYear())</script> Solmitec. Derechos reservados.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->