<!-- Footer Start -->
<footer class="footer">    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="/" class="logo-footer"><img src="{{ 'assets/images/ndr-horizont.png' | theme}}" width="250" height="auto" alt=""></a>
                            <p class="mt-4">Especializados en regalos personalizados para familiares, amigos y para quién tu quieras.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item mb-0"><a href="https://www.facebook.com/nuvolsderegals/" target="_blank" class="rounded"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="https://www.instagram.com/Nuvolsderegals/" target="_blank" class="rounded"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                                <li class="list-inline-item mb-0"><a href="https://wa.me/34661916896" target="_blank" class="rounded"><i class="uil uil-whatsapp align-middle" title="whatsApp"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-12 mb-4 pb-2">
                                    <h5 class="footer-head mb-0"><b>Núvols</b></h5>
                                </div><!--end col-->

                                <div class="col-lg-12 col-md-4 col-12">
                                    <ul class="list-unstyled footer-list">
                                        <li><a href="/" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Inicio</a></li>
                                        <li><a href="/sobre-nuvols" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Sobre Núvols</a></li>
                                        <li><a href="/tienda" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Categorías</a></li>
                                        <li><a href="/tienda" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Outlet</a></li>
                                        <li><a href="/blog" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Blog</a></li>
                                        <li><a href="/contacto" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contacto</a></li>
                                    </ul>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->

                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-12 mb-4 pb-2">
                                    <h5 class="footer-head mb-0"><b>Textos Legales</b></h5>
                                </div><!--end col-->

                                <div class="col-lg-12 col-md-4 col-12">
                                    <ul class="list-unstyled footer-list">
                                        <li><a href="/politica-privacidad" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Privacidad</a></li>
                                        <li><a href="/politica-cookies" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Cookies</a></li>
                                        <li><a href="/politica-devoluciones" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Política Devoluciones</a></li>
                                        <li><a href="/condiciones-de-compra" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Condiciones de Compra</a></li>
                                        <li><a href="/aviso-legal" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Aviso Legal</a></li>
                                    </ul>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <h5 class="footer-head"><b>Noticias</b></h5>
                            <p class="mt-4">Quieres estar al día de todas nuestras novedades.</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="foot-subscribe mb-3">
                                            <label class="form-label">Escribe tu email <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Tu email: " required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Suscribirse">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div style="text-align: center; margin-bottom: 50px;">
        <img src="{{ 'assets/images/principal/kit-digital-blanco.png' | theme}}" width="250" height="60" style="margin-right: 50px;">
        <img src="{{ 'assets/images/principal/Plan-recu-blanco.png' | theme}}" width="250" height="65"> 
    </div>

    <div class="footer-py-30" style="background-color: white;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="text-sm-start" style="color: black;">
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Núvols de regals. Derechos reservados. | Diseñado con <i class="mdi mdi-heart text-danger"></i> por <a href="https://aress.es/" target="_blank" class="text-reset">Aress</a>.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->

<!-- javascript -->
<!-- JAVASCRIPT -->
<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Main Js -->
<script src="assets/libs/feather-icons/feather.min.js"></script>
<script src="assets/js/plugins.init.js"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src="assets/js/app.js"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->